﻿@{
    ViewData["Title"] = "ASP.Net - MongoDB";
}

<div>
    <h3>ASP.NET Core - MongoDB Test Page</h3>
    <a href="./api/animals" target="_blank">find all animals --></a>
    <br /><br />
    <label>find animail by number </label>
    <input type="number" id="inputNumber" value="1" />
    <button id="submitNumber">find</button>
    <br /><br />
    <hr />
    <form name="insertForm" method="post" action="./api/animals">
        <b>insert document</b><br />
        <label>number: </label><input type="number" name="number" /><br />
        <label>name: </label><input type="text" name="name" /><br />
        <label>width: </label><input type="number" name="width"  /><br />
        <label>height: </label><input type="number" name="height" /><br />
        <label>weight: </label><input type="number" name="weight" /><br />
        <input type="submit" value="submit"/>
    </form>
    <br /><br />
    <hr />

    <b>delete document by number</b><br />
    <label>number: </label><input type="number" id="deleteNumber" name="number" /><br />
    <button id="deleteButton">delete</button>

</div>
